<div class="body-content">
    <h2 id="eq_list_title"><%= title %></h2>
    
    <% if (equipment_list.length) { %>
        <div class="table-wrapper">
            <table class="equipment-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Room</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% equipment_list.forEach(function(item) { %>
                        <tr>
                                <td><a href="<%= item.url %>"><%= item.name %></a></td>
                                <td><%= item.type %></td>
                                <td><%= item.room.name %></td> 
                                <td>€<%= item.cost_formatted %></td>
                        </tr>
                    <% }) %>  
                </tbody>
            </table>
        </div>
    <% } else { %>
        <p>No equipment is currently registered.</p>
    <% } %>

</div>